<!DOCTYPE html>
<html lang="en">

<head>
    <title>Space Launch Dashboard</title>
    <link rel="stylesheet" href="/css/index.css">
    <meta charset="utf-8">
    <link rel="shortcut icon" href="#">
</head>

<body>
    <h1>Pages</h1>
    <ul>
        <li><a href="/launches">Upcoming Launches</a></li>
        <li><a href="/iss">ISS Info</a></li>
        <li><a href="/starship">Starship Updates</a></li>
    </ul>
    <script src="/js/index.js"></script>
</body>

</html>