<!DOCTYPE html>
<html lang="en">

<head>
    <title>Space Launch Dashboard</title>
    <link rel="stylesheet" href="/css/starship.css">
    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="utf-8">
    <link rel="shortcut icon" href="#">
</head>

<body>    
    <header>
        <h3>Space Launch Dashboard</h3>
        <nav>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/launches" class="current">Launches</a></li>
                <li><a href="/iss">ISS</a></li>
                <li><a href="/starship">Starship</a></li>
            </ul>
        </nav>
        <a class="callToAction" target="_blank" href="https://github.com/avrachimi/space-launch-dashboard"><button>Github</button></a>
    </header>
    <table id="starship-updates-table">
        <tr id="starship-updates-table-header">
            <th>Received On*</th>
            <th>Comments</th>
            <th>More Info</th>
        </tr>
        <% for (var i=0; i < locals.data.length; i++) { %>
            <tr>
                <td><%= new Date(locals.data[i].created_on).toUTCString().slice(0, 26) %></td>
                <td><%= locals.data[i].comment %></td>
                <td><a target="_blank" href=<%= locals.data[i].info_url %>>more info</a></td>
            </tr>
        <% } %>
    </table>
    <p><strong>* All times are in UTC</strong></p>
    <script src="/js/starship.js"></script>
</body>

</html>