* {
    color: black;
}

body {
    background-color:rgb(251, 244, 234);
}

#iss-dashboard {
    border-color: rgb(0, 0, 0);
    border-width: 5px;
    border-style: solid;
    margin: 1% 5%;
    text-align: center;
}

#numOfCrew {
    text-align: left;
}

#numOfDockedVehicles {
    text-align: right;
    display: inline-block;
}

#launches, #starship{
    text-align: center;
    margin: 2% 0;
}