* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #edf0f1;
}

body {
  background-color: #454752;
}

header > h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 1000;
  color: #edf0f1;
}

header > li, a, button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 10%;
  background-color: #24252a;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

header > .nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: #0099a9;
}

button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  padding: 0 5%;
  margin: 30px 0;
  display: flex;
  flex-wrap: nowrap;
  margin-left:auto; 
  margin-right:auto; 
  width:98%;
}

td, th {
  border: 1px solid darkgray;
  text-align: center;
  padding: 5px;
  color: black;
}

th {
  color: black;
  background-color: rgb(211, 167, 116);
}

tr:nth-child(even) {
  background-color: rgb(255, 246, 235);
}

tr:nth-child(odd) {
  background-color: rgb(208, 186, 161);
}

td > a {
  color: black;
  text-decoration: underline;
}

td > a:hover {
  color: blue;
}

p {
  padding: 0 5%;
  color: #edf0f1;
}

#tables {
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}